.sheetContainer {
    background-color: #575C69;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    transition: opacity 0.3s ease;
}
