.draggableContainer {
    width: 100%;
    background-color: #FED7E2;
    position: absolute;
    bottom: 0;
    cursor: grab;
    overflow: hidden;
    transition: height 0.5s ease;
    user-select: none;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    padding-top: 10px;
    box-shadow: rgba(255, 255, 255, 0.87) 0px 54px 55px, rgba(255, 255, 255, 0.36) 0px -12px 30px, rgb(253, 253, 253) 0px 4px 6px, rgb(253, 253, 253) 0px 12px 13px, rgba(255, 255, 255, 0.21) 0px -3px 5px;
  }
  
.draggableContainer:active {
    cursor: grabbing;
}

.sheetContentContainer {
    /* border: 1px solid red; */
    max-width: 100%;
    flex-wrap: wrap;
    height: 100%;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FED7E2;
}

.draggableIcon {
    background-color: #DAB9C2;
    width: 35px;
    border: 3px solid #DAB9C2;
    border-radius: 100px;
}

.header {
    padding: 8px 0px 15px 0px;
    background-color: #FED7E2;
    width: 100%;
    max-width: 100%;
    font-weight: 600;
    color: #1A202C;
    font-family: unset;
    font-size: 20px;
    border-bottom: 3.5px solid #DAB9C2;
    flex-wrap: wrap;
}

.footer {
    width: 100%;
    max-width: 100%;
    border-top: 3.5px solid #DAB9C2;
    padding: 14px 0px 8px 0px;
    background-color: #FED7E2;
}

.sheetContentWrapper {
    min-height: 230px;
    transition: height 0.5s ease;
    overflow: hidden;
    overflow-y: auto;
    /* display: flex; */
    width: 100%;
    scroll-behavior: smooth;
    max-width: 100%;
    align-items: center;
    justify-content: center;
}

.doneButton {
    width: 75px;
    background-color: #0078FF;
    outline: none;
    border: none;
    color: #FFFFFF;
    font-family: unset;
    font-size: 16px;
    font-weight: 600;
    border-radius: 8px;
    padding: 5px 0px 8px 0px;
}

@media (min-width: 0px) and (max-width: 384px) {
    .draggableContainer {
        width: 100vw;
        flex-wrap: wrap;
    }
}

@media (min-width: 385px) and (max-width: 767px) {
    .draggableContainer {
        width: 384px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .draggableContainer {
        width: 768px;
    }
}

@media (min-width: 992px) {
    .draggableContainer {
        width: 768px;
    }
}